@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/blue.css";

.btn {
    font-size: 18;
}


.border {
    border-color: black;
    border-width: 1;
    margin: 5;
}

.icons {
    font-family: MaterialIcons-Regular, Material Icons;
    vertical-align: center;
}
